<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booked</title>
    <style>
        * {
            padding: 0%;
            margin: 0%;
        }
        div {
        height: 554px;
        width: 100%;
    
        background-color: powderblue;
        }
        button{
            background-color:white;
            border: none;
        }
    </style>
</head>
<body>
    <div style="background-image: url('https://s7d2.scene7.com/is/image/honeywell/s_414384259_Business-Jet_2880x1440');">
        <h1>Enjoy your journey</h1>
    </div>
</body>
</html>