<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            padding: 0%;
            margin: 0%;
        }
        div {
        height: 554px;
        width: 100%;
        background-color: powderblue;
        }
        button{
            background-color:white;
            border: none;
        }
    </style>
    <script>
        function check(){
           var departure = document.getElementById('dep').selectedOptions[0].value;
           var destination = document.getElementById('des').selectedOptions[0].value;
           const message = document.querySelector('#info')
           const massage2 = document.querySelector('#flight')
           const message3 = document.querySelector('#but')
             if (departure == 'Chennai'){
                
                message.textContent = 'Flight is not Available in this date try another date'
             }else if(departure == 'Kochin'){
                message.textContent = 'Quater express    4:30pm '
                massage2.textContent = 'Virgin Athlantic     9:50pm '
                message3.textContent = 'book now'
             }else if (departure == 'calicut'){
                message.textContent = 'Air India express    8:30pm '
                massage2.textContent = 'Emirates Athlantic     11:50pm '
                message3.textContent = 'book now'
             }else{
                message.textContent = 'Air India express    2:30pm '
                massage2.textContent = 'British Airways(connected)    1:50pm '
                message3.textContent = 'book now'
             }
        }
        function goBook(){
            document.querySelector('form').addEventListener('submit',(e)=>{
            var first = ''
            var second = ''
             e.preventDefault()
             var controller = []
             const departure =  document.getElementById('dep').value
             const destination = document.getElementById('des').value
            
             if(departure == 'Kochin'){
                 first = 'Quater express' 
               second = 'Virgin Athlantic'
             }else if (departure == 'calicut'){
                 first='Air India express'
                 second='Emirates Athlantic '
             }else{
                 first= 'Air India express'
                 
                 second='British Airways(connected)'
               
             }
             
             window.location.href = `/booking?departure=${departure}&destination=${destination}&first=${first}&second=${second}`

        })
        }
    </script>
</head>
<body>
    <div style="background-image: url('https://s7d2.scene7.com/is/image/honeywell/s_414384259_Business-Jet_2880x1440');">
<h1>Onji Airlines</h1>
    <h2>Welcome {{name}} <br></h2>
    <p>Book Now</p>
    <form >
    <label for="departure">Departure:</label>
    <select name="departure" id="dep">
        <option value="Chennai">Chennai</option>
        <option value="Kochin">Kochin</option>
        <option value="Calicut">Calicut</option>
        <option value="Trivandram">Trivandram</option>
    </select><br>
    <label for="destination">Destination:</label>
    <select name="destination" id="des">
        <option value="Miami">Miami</option>
        <option value="Dubai">Dubai</option>
        <option value="London">London</option>
        <option value="Pattaya">Pattaya</option>
    </select><br>
    <label for="date">Date of Departure</label>
    <input type="date" id="date" name="date"><br>
    <input type = "button" onclick = "check()" value = "Check Available flight">
    <p id="info"></p> 
    <p id="flight"></p>
    <button id="but" onclick="goBook()" ></button>
    </form>
    </div >
    
    
</body>
</html>