<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
</head>
<body>
    <h1>Onji Airlines</h1><br>
    <h2>Ticket booking</h2>
    <p>Sigin In</p>
    <form >
    <label for="name">Name:</label><br>
    <input  type="text" id="name" name="name"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="pwd" name="password"><br>
    <label for="password" >Conform Password:</label><br>
    
    <input type="password" id="conpwd" name="conPassword"><br>
    <label for="mobilenumber" >Mobile No:</label><br>
    <input type="text" name="mobileno" id="mbno"><br>
    <button>Submit</button>
    <p id="message-1"></p>
    
    </form>

    <script src="/js/app.js"></script>
</body>
</html>